################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechnicalAssessment-task-2/TechnicalAssessment-task-2/bin/Debug/net5.0
/TechnicalAssessment-task-2/TechnicalAssessment-task-2/obj
