@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <select id="selectLocation">
        <option value="Bergen">Bergen</option>
        <option value="Oslo">Oslo</option>
        <option value="Stavanger">Stavanger</option>
        <option value="Trondheim">Trondheim</option>
    </select>
    <button onclick="getForecast()">See forecast</button>

    <div id="forecast-output">

    </div>

</div>
